<h1>Restaurants : </h1>

<% @restaurants.each do |restaurant| %>
  <div>
    <%= restaurant.name %>
    <%= restaurant.address %>
    <%= restaurant.phone_number %>
    <%= restaurant.category %>
  </div>
<% end %>
